<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js App</title>
    </head>
    <body>
        <div id="app">
           <p> Shirt Price: {{shirtCost}} </p>
           <p> Hat Price: {{hatCost}} </p>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script type="text/javascript">
        // JS Code here
            const app = new Vue({
                el: '#app',
                data: {
                    shirtPrice: 25,
                    hatPrice: 10,
                    currency: '$',
                    salesTax: 16
                }, computed : {
                  shirtCost() {
                    return this.addCurrency(this.calculateSalesTax(this.shirtPrice));
                  },
                  hatCost() {
                    return this.addCurrency(this.calculateSalesTax(this.hatPrice));
                  },
                }, methods : {
                    calculateSalesTax(price){
                        return parseFloat(Math.round((this.salesTax / 100) * price) + price).toFixed(2); 
                    },
                    addCurrency(price){
                        return this.currency + price;
                    }
                }
            });
        </script>
    </body>
</html>